#sphud {font-size: 14px !important; font-family: monospace !important; height: 0px !important; transition: height 0.5s;}
div#sphud {background-color: #323031 !important; width: 100%; position: fixed; bottom: 0; z-index: 9000; padding: 10px 3px 0px 3px !important;}
.sphud-big {height: 5px !important;}
.body-big {margin-bottom: 10px !important;}
#sphud ul {list-style: none !important; margin: 0px !important;}
#sphud a {color: #019fd7 !important;}
#sphud li {color: white !important;}
.ldo-label {color: #ff703e !important; font-weight: 800 !important;}
.ldo-data {color: white !important;}
.col-md-3 {float: left; position: relative; min-height: 1px;}
#sphud:target {display: none !important;}
#sphud:hover {height: 180px !important;}
#sphud-login {display: block; text-align: center; background-color: black; position: fixed; width: 100%; bottom: 0;}
@media (min-width: 992px){
.col-md-3 {width: 25% !important; }	
}